<script setup>
  import { computed, ref } from 'vue' 
/*const name = ref('ivan');
  const lastName = ref('Andrejic');

  function changeName(){
    name.value = "marko";

  }

 const arr = ref([1,2,3])  

const full_name = computed(() => name.value +" " + lastName.value)

function changeName(name_param){
  name.value = name_param
}

function changeLastName(e){
  lastName.value = e.target.value;
}

const arr_bez_marko = computed(() => {
  let res = []
  for(let element of arr){
    if(element !== "marko"){
      res.push(element);
    }
  }
})*/

const tasks = [
  {
    
    task: "operi auto",
    id: 1,
    complete : false
  },
  {
    task: "operi biciklu",
    id: 2,
    complete : false
  }
]

let id_counterr = 4;

const newTaslText = ref('');

function changeTask(task){
  task.complete = !task.complete  
}



function getButtonText(is_complete){
  if(is_complete){
    return 'Odvrsi'
  }
    return "Zavrsi"
  
}

function addTask(){
  if(!newTaslText.value.trim()){
    return
  }
  let new_task = {
    task:newTaslText.value.trim(),
    id: id_counterr++,
    complete: false,
  }

  tasks.values.unShift(new_task)
    newTaslText.value = ''
  
}

</script>

<template>

 <!-- <div>{{name}} {{lastName }}</div>
 
  <button @click="changeName(name)">Postani marko</button>
 
  <button @click="arr[1] = 'marko'">dodaj marka</button>
 <div>{{ arr }}</div>
 <div>{{full_name }}</div>
 
 <span v-if="name.toLowerCase() === 'nikola'">Cao ja</span>
  <span v-else-if="name.toLowerCase() === 'Marko'"></span>
  <span v-else>Ti nisi nikola, nisi marko</span>
  
  
  <input type="text " v-model="name">
  <input type="text" :value="lastName" >
  <input type="text" @input="changeLastName" name="" id="">


<div v-for="(item, index) in arr " :key="item" class="item">
{{ item }} index elementa {{ index }}
</div>-->



<input type="text" v-model="newTaslText" name="" id="">
<div v-for="todo in tasks"
 :key="todo.id" 
 class="todo" 
 :class="{computed:todo.complete}">
{{todo.task }}
<button @click="changeTask(todo)">
{{ getButtonText(todo.complete) }}
</button>
</div>




</template>


<style scoped>
.item{
  background-color: red;
}
.nikola{
  color: red;
}
</style>
